# Code on filtering GPG data csv to retrieve all of CRNs to query Companies House API

In [1]:
import pandas as pd
import time
from query_companies_house import *

In [2]:
df = pd.read_csv("UK_Gender_Pay_Gap_Data_2017_to_2018.csv")

In [3]:
df.columns

Index(['EmployerName', 'Address', 'CompanyNumber', 'SicCodes',
       'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline'],
      dtype='object')

In [4]:
df.CompanyNumber.values

array(['00226143', 'SC016876', '03951948', ..., '03843124', '08563366',
       '01032611'], dtype=object)

In [5]:
len(df)

10513

In [6]:
no_nans = df.dropna(subset=['CompanyNumber'])

In [7]:
len(no_nans)

9167

In [8]:
company_numbers = no_nans.CompanyNumber.values

In [9]:
def chunk_maker(iterable, size):
    for i in range(0, len(iterable), size):
        yield iterable[i:i + size]

In [ ]:
count = 0
for chunk in chunk_maker(company_numbers, 250):
    for company_num in chunk:
        format_active_officers_info(query_company_name, query_officers_info, company_num)
        count += 1
        print(count)
    time.sleep(300 * 2)